* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family: sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: #f3f3f3;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin: 0 30px;
}

nav .logo span {
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin: 0 15px;
    padding: 20px 25px;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a.active {
    background: red;
    color: #f3f3f3;
}

.banner {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('./img/bg.jpg') no-repeat center center/cover;
    width: 100%;
    border-bottom: 5px solid red;
}

.banner .inner-text {
    padding: 200px 20px;
}

.inner-text h1 {
    font-size: 3rem;
    color: #fff;
}

.inner-text p {
    font-size: 18px;
    color: #fff;
    line-height: 1.5rem;
}

.inner-text a {
    display: inline-block;
    padding: 10px 30px;
    background: white;
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.inner-text a:hover {
    opacity: 0.8;
}

.heading1 {
    
    padding: 0px 0;
    border: 3px solid green;
    text-align: center;
}



/* Info */
.info {
    min-height: 50vh;
    max-width: 900px;
    margin: 50px auto;
    background: #f8f8f8;
}

.inner-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.inner-info .card {
    min-height: 200px;
    max-width:500px;
    padding: 20px;
    background: #f3f3f3;
    box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);
}

.inner-info .card img {
    max-width: 200px;
    
}

.inner-info .card h3 {
    margin: 10px 0 10px 0;
    color: red;
}

.inner-info .card p {
    font-size: 18px;
    margin-top: 10px;
    
}

.inner-info .card .btn {
    display: inline-block;
    padding: 10px 30px;
    background: red;
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s ease;
}

.inner-info .card .btn:hover {
    opacity: 0.8;
}

/* Footer */
footer {
    height: 5vh;
    width: 100%;
    padding: 50px;
    background: #000;
    color: #f3f3f3;
    text-align: center;
    font-size: 18px;
}

footer span {
    color: red;
}

